<!-- <div class="main-container"> -->
  <!-- <img src="../assets/1.png" alt="" class="seconds absolute">
  <div>
    <img src="../assets/2.png" alt="" class="minutes relative">
    <div class="hour relative"></div>
    <div class="minute relative"></div>
    <div class="second relative"></div>
  </div> -->
<!-- </div> -->
<img src="../assets/1.png" alt="" class="seconds absolute">
  <div>
    <img src="../assets/2.png" alt="" class="minutes relative">
    <div class="hour relative"></div>
    <div class="minute relative"></div>
    <div class="second relative"></div>
  </div>