.main-container {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 100vmax;
  width: fit-content;

  // .seconds {
  //   position: absolute;
  // }

  // .minutes {}
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
